@font-face {
    font-family: FiraSansMedium;
    src: local("Fira Sans Medium"),
        url("/css/xs15nrae.eot") format("truetype"); /* EOT file for IE */
}
@font-face {
    font-family: FiraSansMedium;
    src: local("Fira Sans Medium"), 
        url("/css/xs15nrae.ttf") format("truetype");
}
body {
    margin:0; padding:0;
    height: 100%;
    color: #444444; 
    font:normal 14px/20px serif, sans-serif;

    background: url("/img/bg.gif") repeat; 
}

p { 
    font-size: 16px;
    line-height: 1.5em;
    text-indent: 1.5em; 
    text-align: justify;
}
a { text-decoration: none; color: #362206;  }
a:hover { color: #7D3706; }
li { list-style: none;}
img { border: none; }

.container { height: 75%; }

.block {
    height: 100%;
    text-align: center;
    display: table;
    
    width: 996px;
}

header {
    height: 170px;
    display: table-row;
}

.header-block {
    margin: 0 0 10px;
    border: 1px solid #92521c;
    overflow: hidden;
    background: url("/img/header/h_bg_b_s.jpg") repeat-x; 
    
/*    background: url("/img/header/h_bg_b_.png") no-repeat; */
}
@media (max-width: 991px) {
    .header-block { background: #EF9A4B; }
}

.header-block .navbar { margin: 0 !important; }

/* Header logo block */
.header-block-logo {
    width: 200px;
    height: 120px;
    float: left;
}

.header-block-logo .logo {
    margin: 10px 0;
    z-index: 100;
    position: relative;
}
/* Header slogan block */
.header-block-slogan {
    width: 250px;
    height: 120px;
    float: left;
}

.header-block-slogan p {
    padding-top: 8px;
    font-size: 20px;
    text-align: left;
    text-indent: 0.4em;
    color: #7D3706;
    font-family: FiraSansMedium;
}
/* Left block of header with menus */

.header-top-menu > li > a {
    color: #7d3706;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 10px;
}
.header-top-menu > li > a:focus,
.header-top-menu > li > a:hover { background: transparent; }

.header-phone {
    text-align: left;
    color: #7D3706;
    font-family: FiraSansMedium;
}

.header-phone p {
    font-size: 18px; 
    padding: 0;
    text-align: left;
    text-indent: 0;
    margin: 2px 0;
}

/* Header search block */
.header-search {
    height: 37px;
    margin-right: -30px;
    margin-top: 5px;
    border-radius: 4px 0 0 4px;
    -moz-box-shadow: 1px 2px 6px 2px rgba(86,41,16,0.3);
    -webkit-box-shadow: 1px 2px 6px 2px rgba(86,41,16,0.3);
    box-shadow: 1px 2px 6px 2px rgba(86,41,16,0.3); /* Параметры тени */
}
@media (max-width: 991px) {
    .header-search { margin-right: 0; margin-bottom: 10px }
    .header-phone p { text-align: center; }
}
.search-query {border: 1px solid #dfdfdf;width: 100% !important;}
.btn-search { border: 1px solid #dfdfdf; border-radius: 2px; color: #ffdcb2; background: url("/img/header/btn.jpg") repeat; }
.btn-search:hover { color: #ffdcb2; border-radius: 2px; }

*::-moz-placeholder {
    color: #CCCCCC;
}

.header-block-left .header-search #search_do {
    border: 0;
    float: right;
    height: 37px;
    width: 93px;
    position: relative;
    z-index: 10;
    background: url("/img/header/s_button.png") repeat; 
    font-size: 20px;
    color: #ffdcb2;
    padding-bottom: 1px;
    border-radius: 4px;
}
/* Main menu block */

.m_menu ul li a:hover {
    background: url("/img/header/a_button.png") no-repeat;
}
/* Main block */
.start_page table th {
    border: 0;
}

.title {
    font-size: 20px;
    font-family: FiraSansMedium;
    text-align: left;
    margin: 5px;
    padding: 5px 5px;
    color: #92521C;
    border: 1px solid;
    border-radius: 4px;
}

.page_content .block_left {
    float: left;
    width: 55%;
}

.page_content .block_right {
    float: right;
    width: 40%;
}

.content_block_left {
    width: 20%;
    float: left;
    border-right: 1px solid #92521C;
    display: none;
    margin-right: 5px;
}
.content_block_right {
    width: 80%;
    float: right;
}
.content_block_right_full {
    width: 99%;
    float: left;
/*    float: right;*/
}

.footer-block-copyright {
    float: left; padding: 12px 0 0 0;
}
.footer-block-copyright p {
    float: left; color: #362206;
}
.footer-block-menu {
    float: right; width: 500px;
}
.footer-block-menu ul {
    width: 100%;
    float: left;
    line-height: 1.8;
    padding: 10px;
    color: #362206;
}

.footer-block-menu ul li {
    float: left;
    margin: 0 5px;
}

/* CART */
.btn-cart { color: #FFDCB2; background: #92521c; }
.btn-cart:hover { color: #333; border: 1px solid #92521c; background: #fff;}

.registration_line_ .oname_field3  {
    text-align: left;
}
/* FILTER OPTIONS */
.filter {
    width: 90%;
    float: left;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #92521C;
}
.filter label {
    float: left;
    text-align: left;
    border-bottom: 1px dotted #92521C;
    margin: 10px 0;
}

.filter .filterSlider {
    margin-top: 5px;
    padding-bottom: 20px;
    width: 100%;
    float: left;
}

.filter .filterSlider .ui-widget-content {
    background: url("../img/listing-slider-bg.png") repeat-x scroll 50% 50% rgba(0, 0, 0, 0);
    border-bottom-style: none;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top-style: none;
    color: #CCCCCC;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 15px;
}

.filter .slider {
    float: left;
    width: 95%;
}
.filter .row_left {
    float: left;
}
.filter .row_left label {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 5px;
    width: 20px;
}
.filter .row_left input {
    float: left;
}
.filter .row_right {
    float: right;
}
.filter .row_right label {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 5px;
    width: 20px;
}
.filter .row_right input {
    float: left;
}

.login-form-header {
    text-align: center;
}
/* ------------ OBJECTS LIST ------------ */
/*
 * Table styles
 */
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("/img/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/img/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/img/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/img/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/img/images/sort_desc_disabled.png");
}

/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider { display: inline-block; vertical-align: middle; position: relative;}
.slider.slider-horizontal { max-width: 194px !important; min-width: 194px !important; height: 20px; margin-top: 10px; margin-bottom: 10px;}
.slider.slider-horizontal .slider-track { height: 7px; width: 100%; margin-top: -5px; top: 80%; left: 0;}
.slider.slider-horizontal .slider-selection { height: 100%; top: 0; bottom: 0;}
.slider.slider-horizontal .slider-handle { margin-left: -2px; margin-top: -6px;}
.slider.slider-horizontal .slider-handle.triangle { border-width: 0 10px 10px 10px; width: 0; height: 0;border-bottom-color: #0480be;margin-top: 0;}
.slider input { display: none;}
.slider .tooltip-inner { white-space: nowrap;}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-handle {  position: absolute;  width: 5px;  height: 20px;  background-color: #92521c;  opacity: 1;  border: 1px solid #92521c;}
.slider-handle.triangle { background: transparent none; }